In [1]:
import pandas as pd

In [48]:
act_blizzard = pd.read_csv('../Stocks/Activision-Blizzard_Stock.csv')
act_blizzard.insert(act_blizzard.columns.get_loc('Date') + 1, 'TICKER', 'ATVI')
act_blizzard.set_index('Date', inplace=True)
act_blizzard.index = pd.to_datetime(act_blizzard.index)
act_blizzard

           TICKER   Open   High    Low  Close    Volume Currency
Date
2010-01-04   ATVI  11.23  11.45  11.15  11.30   9310055      USD
2010-01-05   ATVI  11.24  11.36  11.21  11.32  11370203      USD
2010-01-06   ATVI  11.26  11.38  11.21  11.26   6541811      USD
2010-01-07   ATVI  11.10  11.19  10.93  10.99  15392067      USD
2010-01-08   ATVI  10.97  11.05  10.88  10.90  11003838      USD
...           ...    ...    ...    ...    ...       ...      ...
2022-08-29   ATVI  78.55  79.08  78.50  78.75   3657033      USD
2022-08-30   ATVI  78.83  78.94  78.47  78.62   3075012      USD
2022-08-31   ATVI  79.06  79.07  78.49  78.49   4108374      USD
2022-09-01   ATVI  78.36  79.00  78.10  78.55   4818317      USD
2022-09-02   ATVI  78.50  78.52  77.37  77.53   4315554      USD

[3191 rows x 7 columns]

In [42]:
ea_stock = pd.read_csv('../Stocks/ea_Stock.csv')
ea_stock.insert(ea_stock.columns.get_loc('Date') + 1, 'TICKER', 'EA')
ea_stock.set_index('Date', inplace=True)
ea_stock.index = pd.to_datetime(ea_stock.index)
ea_stock

           TICKER    Open    High     Low   Close   Volume Currency
Date
2010-01-04     EA   17.99   18.23   17.89   18.15  3853582      USD
2010-01-05     EA   18.31   18.87   18.23   18.66  6632992      USD
2010-01-06     EA   18.61   18.65   18.06   18.18  5047203      USD
2010-01-07     EA   17.91   18.07   17.78   18.04  5437890      USD
2010-01-08     EA   18.18   18.45   18.03   18.40  4055760      USD
...           ...     ...     ...     ...     ...      ...      ...
2022-08-29     EA  130.45  131.38  127.60  129.60  2729354      USD
2022-08-30     EA  128.98  129.05  125.89  126.47  1943095      USD
2022-08-31     EA  127.89  128.81  126.57  126.87  1820796      USD
2022-09-01     EA  125.88  127.75  125.88  127.68  1488941      USD
2022-09-02     EA  127.96  128.44  125.00  125.33  1341112      USD

[3191 rows x 7 columns]

In [50]:
microsoft_stock = pd.read_csv('../Stocks/microsoft_Stock.csv')
microsoft_stock.insert(microsoft_stock.columns.get_loc('Date') + 1, 'TICKER', 'MSFT')
microsoft_stock.set_index('Date', inplace=True)
microsoft_stock.index = pd.to_datetime(microsoft_stock.index)
microsoft_stock

           TICKER    Open    High     Low   Close    Volume Currency
Date
2010-01-04   MSFT   30.62   31.10   30.59   30.95  38414184      USD
2010-01-05   MSFT   30.85   31.10   30.64   30.96  49758864      USD
2010-01-06   MSFT   30.88   31.08   30.52   30.77  58182332      USD
2010-01-07   MSFT   30.63   30.70   30.19   30.45  50564284      USD
2010-01-08   MSFT   30.28   30.88   30.24   30.66  51201288      USD
...           ...     ...     ...     ...     ...       ...      ...
2022-08-29   MSFT  265.85  267.40  263.85  265.23  20338544      USD
2022-08-30   MSFT  266.67  267.05  260.66  262.97  20793554      USD
2022-08-31   MSFT  264.86  267.08  261.39  261.47  24069784      USD
2022-09-01   MSFT  258.69  260.77  255.43  260.40  22911262      USD
2022-09-02   MSFT  261.41  264.71  254.48  256.06  22481832      USD

[3191 rows x 7 columns]

In [51]:
nintendo_stock = pd.read_csv('../Stocks/nintendo_Stock.csv')
nintendo_stock.insert(nintendo_stock.columns.get_loc('Date') + 1, 'TICKER', 'NTDOY')
nintendo_stock.set_index('Date', inplace=True)
nintendo_stock.index = pd.to_datetime(nintendo_stock.index)
nintendo_stock

           TICKER   Open   High    Low  Close  Volume Currency
Date
2010-01-04  NTDOY  30.25  30.95  30.25  30.90  105408      USD
2010-01-05  NTDOY  31.15  32.50  31.05  31.47  210553      USD
2010-01-06  NTDOY  32.90  33.40  31.81  33.15  367749      USD
2010-01-07  NTDOY  33.90  34.35  33.90  34.22  416643      USD
2010-01-08  NTDOY  34.55  34.85  34.40  34.82  441858      USD
...           ...    ...    ...    ...    ...     ...      ...
2022-08-29  NTDOY  52.00  52.12  51.73  51.75  270106      USD
2022-08-30  NTDOY  51.99  51.99  51.26  51.43  201440      USD
2022-08-31  NTDOY  51.88  52.00  51.01  51.10  121616      USD
2022-09-01  NTDOY  51.00  51.12  50.70  50.85  174531      USD
2022-09-02  NTDOY  50.85  50.85  50.27  50.28  179004      USD

[3190 rows x 7 columns]

In [52]:
take_two_stock = pd.read_csv('../Stocks/take_two_Stock.csv')
take_two_stock.insert(take_two_stock.columns.get_loc('Date') + 1, 'TICKER', 'TTWO')
take_two_stock.set_index('Date', inplace=True)
take_two_stock.index = pd.to_datetime(take_two_stock.index)
take_two_stock

           TICKER    Open    High     Low   Close   Volume Currency
Date
2010-01-04   TTWO   10.18   10.60   10.08   10.40  3666383      USD
2010-01-05   TTWO   10.38   10.49   10.11   10.47  4442345      USD
2010-01-06   TTWO   10.46   10.66   10.33   10.44  2829385      USD
2010-01-07   TTWO   10.39   10.43    9.99   10.39  2655430      USD
2010-01-08   TTWO   10.33   10.49   10.27   10.42  2144346      USD
...           ...     ...     ...     ...     ...      ...      ...
2022-08-29   TTWO  124.54  126.05  121.31  122.90  1848651      USD
2022-08-30   TTWO  124.14  124.51  121.95  123.04  1206325      USD
2022-08-31   TTWO  124.50  125.68  122.24  122.56  1704573      USD
2022-09-01   TTWO  121.00  121.41  118.24  120.72  1359457      USD
2022-09-02   TTWO  121.77  121.77  118.41  118.63  1085915      USD

[3191 rows x 7 columns]

In [53]:
tencent_stock = pd.read_csv('../Stocks/tencent_Stock.csv')
tencent_stock.insert(tencent_stock.columns.get_loc('Date') + 1, 'TICKER', 'TCEHY')
tencent_stock.set_index('Date', inplace=True)
tencent_stock.index = pd.to_datetime(tencent_stock.index)
tencent_stock

           TICKER    Open    High     Low   Close   Volume Currency
Date
2010-01-04  TCEHY   4.366   4.416   4.366   4.416    61480      USD
2010-01-05  TCEHY   4.474   4.480   4.410   4.452    75690      USD
2010-01-06  TCEHY   4.480   4.482   4.470   4.482    56010      USD
2010-01-07  TCEHY   4.298   4.300   4.254   4.300    49355      USD
2010-01-08  TCEHY   4.290   4.360   4.290   4.358    25530      USD
...           ...     ...     ...     ...     ...      ...      ...
2022-08-29  TCEHY  41.020  41.675  40.740  40.740  1977550      USD
2022-08-30  TCEHY  40.750  40.990  39.600  40.025  4559448      USD
2022-08-31  TCEHY  41.450  41.900  41.200  41.370  3960398      USD
2022-09-01  TCEHY  41.250  41.374  40.710  41.240  3240642      USD
2022-09-02  TCEHY  41.810  42.154  41.420  41.420  3294829      USD

[3190 rows x 7 columns]

In [54]:
ubisoft_stock = pd.read_csv('../Stocks/ubisoft_Stock.csv')
ubisoft_stock.insert(ubisoft_stock.columns.get_loc('Date') + 1, 'TICKER', 'UBSFY')
ubisoft_stock.set_index('Date', inplace=True)
ubisoft_stock.index = pd.to_datetime(ubisoft_stock.index)
ubisoft_stock

           TICKER  Open  High   Low  Close  Volume Currency
Date
2010-01-05  UBSFY  2.97  2.97  2.97   2.97     500      USD
2010-01-11  UBSFY  3.14  3.19  3.10   3.10    1815      USD
2010-01-12  UBSFY  3.00  3.00  3.00   3.00     500      USD
2010-01-13  UBSFY  2.90  2.90  2.83   2.83   13500      USD
2010-01-14  UBSFY  2.78  2.78  2.75   2.75    3285      USD
...           ...   ...   ...   ...    ...     ...      ...
2022-08-29  UBSFY  8.93  8.95  8.81   8.82   53368      USD
2022-08-30  UBSFY  9.08  9.09  9.03   9.05  131248      USD
2022-08-31  UBSFY  9.22  9.25  9.18   9.19   54148      USD
2022-09-01  UBSFY  8.77  8.79  8.66   8.77  115518      USD
2022-09-02  UBSFY  8.78  8.97  8.68   8.68  100673      USD

[2600 rows x 7 columns]

In [55]:
zynga_stock = pd.read_csv('../Stocks/zynga_Stock.csv')
zynga_stock.insert(zynga_stock.columns.get_loc('Date') + 1, 'TICKER', 'ZNGA')
zynga_stock.set_index('Date', inplace=True)
zynga_stock.index = pd.to_datetime(zynga_stock.index)
zynga_stock

           TICKER  Open  High   Low  Close     Volume Currency
Date
2011-12-19   ZNGA  9.50  9.60  8.75   9.05   18404616      USD
2011-12-20   ZNGA  9.15  9.38  9.08   9.24    8366697      USD
2011-12-21   ZNGA  9.24  9.57  9.15   9.47    5069423      USD
2011-12-22   ZNGA  9.65  9.65  9.25   9.47    2987415      USD
2011-12-23   ZNGA  9.43  9.47  9.27   9.39    2655232      USD
...           ...   ...   ...   ...    ...        ...      ...
2022-05-16   ZNGA  7.88  8.01  7.87   7.92   33986100      USD
2022-05-17   ZNGA  8.33  8.53  8.23   8.47   51908800      USD
2022-05-18   ZNGA  8.35  8.58  8.35   8.46   29355800      USD
2022-05-19   ZNGA  8.44  8.65  8.34   8.35   43312500      USD
2022-05-20   ZNGA  8.37  8.43  8.14   8.18  227699376      USD

[2624 rows x 7 columns]